*{
	font-family: 'Noto Sans TC', sans-serif;
	margin: 0;
}
.content{
	max-width: 900px;
	margin: 50px auto;
}
.title{
	font-size: 36pt;
	font-weight: 700;
}
.paragraph p{
	margin: 5px;
	font-size: 24pt;
	font-weight: 500;
}
@media screen and (max-width: 900px) {
	.content{
		width: 95%;
	}
}
