*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	color: #424242;
}
.content{
	max-width: 900px;
	margin: 50px auto;
}
.title{
	margin: 15px 0;
	font-size: 36pt;
	font-weight: 700;
}
.paragraph p{
	font-size: 24pt;
	font-weight: 500;
}
.sub{
	margin: 5px 0;
	font-size: 28pt;
	font-weight: 500;
}
@media screen and (max-width: 900px) {
	.content{
		width: 95%;
	}
}
