*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	color: #424242;
}
.content{
	max-width: 900px;
	margin: 50px auto;
}
.title{
	margin: 10px 0;
	font-size: 36pt;
	font-weight: 700;
}
.paragraph{
	margin: 10px;
}
.paragraph p, li{
    padding: 0 10px;
	font-size: 24pt;
	font-weight: 400;
}
.paragraph a{
	text-decoration: none;
}
.paragraph a{
	margin: 5px 0;
}
.paragraph a:hover{
    opacity: 0.9;
	transition-delay:5s;
	text-decoration: underline;
}
.sub{
	margin: 5px 0;
	font-size: 28pt;
	font-weight: 500;
}
@media screen and (max-width: 900px) {
	.content{
		width: 95%;
	}
}
